[Desktop Entry]
Type=Application
Name=Rot13 URL Handler
Exec=uggc %u
StartupNotify=false
MimeType=x-scheme-handler/uggc;
MimeType=x-scheme-handler/uggcf;
