# source_up traversing up directories until it finds the nearest .envrc file,
# which it uses to extend the environment in this .envrc.
#
# Since ../.envrc calls `eval "$(lorri direnv)"`, the buildInputs and variables
# definitions inside of the attribute set passed to pkgs.mkShell become
# available here as well.
source_up
export monzo_client_id="$(pass show finance/monzo/client-id)"
export monzo_client_secret="$(pass show finance/monzo/client-secret)"
export store_path="$(pwd)"
export ynab_personal_access_token="$(pass show finance/youneedabudget.com/personal-access-token)"
export ynab_account_id="$(pass show finance/youneedabudget.com/personal-access-token)"
export ynab_budget_id="$(pass show finance/youneedabudget.com/budget-id)"
eval "$(lorri direnv)"
