source_up
use_nix
# TODO(wpcarro): Prefer age-nix solution if possible.
export monzo_client_id="$(jq -j '.monzo | .clientId' < $WPCARRO/secrets.json)"
export monzo_client_secret="$(jq -j '.monzo | .clientSecret' < $WPCARRO/secrets.json)"
export ynab_personal_access_token="$(jq -j '.ynab | .personalAccessToken' < $WPCARRO/secrets.json)"
export ynab_account_id="$(jq -j '.ynab | .accountId' < $WPCARRO/secrets.json)"
export ynab_budget_id="$(jq -j '.ynab | .budgetId' < $WPCARRO/secrets.json)"
export store_path="$(pwd)"
