export DOTFILES=~/dotfiles
export DESKTOP=zeno.lon.corp.google.com
export LAPTOP=seneca
export CLOUDTOP=wpcarro.c.googlers.com
NIX_PATH=nixpkgs=$HOME/nixpkgs:depot=$HOME/depot:universe=$HOME/universe
