[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = true
	matchAuthorToCommitterDate = false
	rejectEmptyCommit = true
	action = rebase always
[project]
	description = This is the repository.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[change]
	privateByDefault = false
	workInProgressByDefault = false
[reviewer]
	enableByEmail = false
[access "refs/*"]
	submit = group depot-interventions
	label-Code-Review = -2..+2 group Registered Users
	push = group depot-interventions
	label-Verified = -1..+1 group depot-ci-bots
	label-Verified = -1..+1 group depot-interventions
[access "refs/meta/config"]
	label-Code-Review = -2..+1 group Registered Users
	read = group Anonymous Users
	read = group Registered Users
[access "refs/bugs/*"]
	push = group Registered Users
	read = group Anonymous Users
	create = group Registered Users
[access "refs/identities/*"]
	read = group Anonymous Users
	push = group Registered Users
	create = group Registered Users
[access "refs/heads/subtree-staging"]
	push = +force group Administrators
[access "refs/heads/*"]
	exclusiveGroupPermissions = submit
	submit = group Change Owner
	submit = group depot-interventions
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
