[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
	mergeContent = true
	matchAuthorToCommitterDate = false
	rejectEmptyCommit = true
[project]
	description = This is the repository.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[change]
	privateByDefault = false
	workInProgressByDefault = false
[reviewer]
	enableByEmail = false
[access "refs/for/*"]
[access "refs/*"]
	exclusiveGroupPermissions = submit
	submit = group Change Owner
	label-Code-Review = -2..+2 group Registered Users
[access "refs/meta/config"]
	label-Code-Review = -2..+1 group Registered Users
	read = group Anonymous Users
	read = group Registered Users
[access "refs/bugs/*"]
	push = group Registered Users
