source_up
use_nix
export SERVER_PORT=3000
export CLIENT_PORT=8000
# TODO(wpcarro): Prefer age-nix solution if possible.
export GOOGLE_CLIENT_ID="$(jq -j '.google | .clientId' < $WPCARRO/secrets.json)"
export STRIPE_API_KEY="$(jq -j '.stripe | .apiKey' < $WPCARRO/secrets.json)"
