@font-face {
    font-family: 'IdealistSans';
    src: url('fonts/IdealistSans.eot');
    src: url('fonts/IdealistSans.eot') format('embedded-opentype'),
		url('fonts/IdealistSans.woff2') format('woff2'),
		url('fonts/IdealistSans.woff') format('woff'),
		url('fonts/IdealistSans.ttf') format('truetype'),
		url('fonts/IdealistSans.svg') format('svg');
}
@font-face {
    font-family: 'futurabookc';
    src: url('fonts/futurabookc.eot');
    src: url('fonts/futurabookc.eot') format('embedded-opentype'),
		url('fonts/futurabookc.woff2') format('woff2'),
		url('fonts/futurabookc.woff') format('woff'),
		url('fonts/futurabookc.ttf') format('truetype'),
		url('fonts/futurabookc.svg') format('svg');
}
body{
	font-size: 16px;
	color: #000000;
	font-family: futurabookc;
}


.font-india{
	font-family: IdealistSans !important;
}

.font-size-075{
	font-size: 0.75rem!important;
}
.font-size-100{
	font-size: 1rem!important;
}
.font-size-125{
	font-size: 1.25rem!important;
}
.font-size-150{
	font-size: 1.5rem!important;
}
.font-size-200{
	font-size: 2rem!important;
}
.font-size-250{
	font-size: 2.5rem!important;
}
.font-size-300{
	font-size: 3rem!important;
}
.font-weight-bold{
	font-weight: bold!important;
}
.font-weight-500{
	font-weight: 500!important;
}
.font-weight-600{
	font-weight: 600!important;
}
.font-weight-normal{
	font-weight: normal!important;
}

@media (min-width:576px){
	.font-size-sm-075{
		font-size: 0.75rem!important;
	}
	.font-size-sm-100{
		font-size: 1rem!important;
	}
	.font-size-sm-125{
		font-size: 1.25rem!important;
	}
	.font-size-sm-150{
		font-size: 1.5rem!important;
	}
	.font-size-sm-200{
		font-size: 2rem!important;
	}
	.font-size-sm-250{
		font-size: 2.5rem!important;
	}
	.font-size-sm-300{
		font-size: 3rem!important;
	}

}
@media (min-width:768px){
	.font-size-md-100{
		font-size: 1rem!important;
	}
	.font-size-md-125{
		font-size: 1.25rem!important
	}
	.font-size-md-150{
		font-size: 1.5rem!important;
	}
	.font-size-md-200{
		font-size: 2rem!important;
	}
	.font-size-md-250{
		font-size: 2.5rem!important;
	}
	.font-size-md-300{
		font-size: 3rem!important;
	}

}

@media (min-width:992px){
	.font-size-lg-100{
		font-size: 1rem!important;
	}
	.font-size-lg-125{
		font-size: 1.25rem!important
	}
	.font-size-lg-150{
		font-size: 1.5rem!important;
	}
	.font-size-lg-200{
		font-size: 2rem!important;
	}
	.font-size-lg-250{
		font-size: 2.5rem!important;
	}
	.font-size-lg-300{
		font-size: 3rem!important;
	}

}

img{
	width:auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.text-white {
    color: #ffffff !important;
}

.text-red{
	color:#E32D26 !important;
}
.text-grey1{
	color:#81878d  !important;
}
.text-grey2{
	color:rgba(88, 85, 85, 0.63)  !important;
}
.first_block{
	background: #141F29 url(img/fon.png) left top no-repeat;
	background-size: auto 100% ;
	color:#ffffff;
	padding-bottom: 200px;
	overflow-x: hidden;
}


.second_block{
	margin-top:-150px;
	z-index: 10;
    position: relative;
}
.second_block .container > div{
	background: #ffffff;
	border:10px solid  #141F29;
	border-radius: 10px;
}

.footer{
	background: #141F29;
	color:#ffffff;
}
.footer a{
	color:#ffffff;
}

@media  (max-width: 575.98px){
	.hidden-xs{
		display:none!important
	}

}
@media (min-width:576px) and (max-width:767.98px){
	.hidden-sm{
		display:none!important
	}
}
@media (min-width:768px) and (max-width:991.98px){
	.hidden-md{
		display:none!important
	}
}
@media (min-width:992px) and (max-width:1199.98px){
	.hidden-lg{
		display:none!important
	}
}
@media (min-width:1200px) and (max-width:1399.98px){
	.hidden-xl{
		display:none!important
	}
}
@media (min-width:1400px){
	.hidden-xxl{
		display:none!important
	}
}


@media (min-width:768px){
	.first_block > div{
		background: url(img/mat2.png) right top no-repeat;
		margin-bottom: -200px;
		padding-bottom: 40px;
	}
	.first_block .text-block{
		height: 1100px;
	}
}
@media (min-width:992px){
	.first_block > div {
		min-height: 820px;
	}
	.first_block .text-block{
		height: 820px;
	}
}
@media (min-width:1200px){
	.first_block > div{
		min-height: 950px;
	}
	.first_block .text-block{
		height: 950px;
	}
}

@media (min-width:1400px){
	.first_block > div{
		min-height: 1100px;
	}
	.first_block .text-block{
		height: 1100px;
	}
}
