{:deps
 {org.clojure/clojure {:mvn/version "1.11.0-alpha3"}

  ;; DB
  com.github.seancorfield/next.jdbc {:mvn/version "1.2.753"}
  com.impossibl.pgjdbc-ng/pgjdbc-ng {:mvn/version "0.8.4"}
  com.zaxxer/HikariCP {:mvn/version "5.0.0"}
  migratus/migratus {:mvn/version "1.3.5"}
  com.github.seancorfield/honeysql {:mvn/version "2.1.833"}
  nilenso/honeysql-postgres {:mvn/version "0.4.112"}

  ;; HTTP
  http-kit/http-kit {:mvn/version "2.5.3"}
  ring/ring {:mvn/version "1.9.4"}
  compojure/compojure {:mvn/version "1.6.2"}
  javax.servlet/servlet-api {:mvn/version "2.5"}
  ring-oauth2/ring-oauth2 {:mvn/version "0.2.0"}
  clj-http/clj-http {:mvn/version "3.12.3"}

  ;; Web
  hiccup/hiccup {:mvn/version "1.0.5"}
  garden/garden {:mvn/version "1.3.10"}

  ;; Utils
  com.stuartsierra/component {:mvn/version "1.0.0"}

  ;; Logging + Observability
  ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                  :exclusions [org.slf4j/slf4j-api]}
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.30"}
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.30"}
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
  cambium/cambium.core {:mvn/version "0.9.3"}
  cambium/cambium.codec-cheshire {:mvn/version "0.9.3"}
  cambium/cambium.logback.core {:mvn/version "0.4.3"}
  cambium/cambium.logback.json {:mvn/version "0.4.3"}
  clj-commons/iapetos {:mvn/version "0.1.12"}

  ;; Utilities
  yogthos/config {:mvn/version "1.1.8"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
  cheshire/cheshire {:mvn/version "5.10.1"}

  ;; Spec
  org.clojure/spec.alpha {:mvn/version "0.3.214"}
  org.clojure/core.specs.alpha {:mvn/version "0.2.62"}
  expound/expound {:mvn/version "0.8.10"}}

 :paths
 ["src"
  "test"
  "resources"
  "target/classes"]
 :aliases
 {:dev {:extra-paths ["env/dev"]
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
  :clj-test {:extra-paths ["test" "env/test"]
             :extra-deps {io.github.cognitect-labs/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner"
                           :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
             :main-opts ["-m" "cognitect.test-runner"
                         "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
            :extra-paths ["env/prod"]
            :main-opts ["-m" "hf.depstar.uberjar"]}}}
