/* Homepage styling */

.dark {
    background-color: #181818;
    color: #e4e4ef;
}

.dark-link, .interblag-title {
    color: #96a6c8;
}


.interblag-title {
    text-decoration: none;
}

.entry-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.entry {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    text-decoration: none;
}

.entry:nth-child(odd) {
    background: #282828;
}

.entry-description {
    color: #e4e4ef;
}

.misc {
    color: #73c936;
    border-color: #73c936;
}

.blog {
    color: #268bd2;
    border-color: #268bd2;
}

.project {
    color: #ff4f58;
    border-color: #ff4f58;
}

.note {
    color: #ffdd33;
    border-color: #ffdd33;
}
