body {
    max-width: 800px;
    margin: 40px auto;
}

#header {
    display: flex;
    flex-direction: column;
}

.btn.btn-ghost:disabled {
    border-color: #9f9f9f;
    color: #9f9f9f;
}

#predlogi,#padezhi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    margin: 3px;
    flex-grow: 1;
}

.footer {
    text-align: right;
}
