<footer class="md:hidden pb-6">
  <h2 class="text-2xl font-bold pt-4 pb-6">Other Links</h2>
  <ul>
    <li class="pb-6">
      <a class="text-blue-600 font-bold" href="https://wpcarro.dev/blog">
        Blog <span class="text-blue-300">-></span>
      </a>
    </li>
    <li class="pb-6">
      <a class="text-blue-600 font-bold" href="https://github.com/wpcarro">
        GitHub <span class="text-blue-300">-></span>
      </a>
    </li>
    <li class="pb-6">
      <a class="text-blue-600 font-bold" href="https://linkedin.com/in/williampatrickcarroll">
        LinkedIn <span class="text-blue-300">-></span>
      </a>
    </li>
  </ul>
</footer>
